.app {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: grid;
  border-radius: 6px;
}
.app,
.container {
  background-image: url("../../assets/bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bkg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: invert(70%);
}

.bottom{
  display: flex;
  flex-direction: row;
  overflow: auto;
  overflow-x: scroll;
  height: 600px;
  margin-top: 20px;
}